* {
    /*border: 1px solid black;*/
    background-color: dimgrey;
}
body {
    width: 45%;
    font-size: 14px;
    font-family: Verdana, sans-serif;
    color: white;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
nav a {
    text-decoration: none;
    color: white;
}
a {
    color: blue;
}
nav, footer, nav a, form input[type="submit"]{
    font-size: 16px;
    background-color: green;
    font-weight: bold;
    color: white;
}
main table {
    width: 100%;
}

#special-main {
    height: 77.5vh;
}

nav, footer{
    border-radius: 0.25rem;
    padding: 0.5rem;
    /*width: 27rem;*/
}
main {
    height: 83vh;
}
form {
    width: 60%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.field_name {
    width: 30%;
    text-align: right;
}
.special-margin {
    padding-left: 1rem;
}
input[type="checkbox"]{
    accent-color: green;
    padding-left: 1rem;
}
form input[type="text"]{
    margin-left: 1rem;
    width: 15rem;
}
input[type="radio"]:checked::before{

}

input[type="radio"]{
    accent-color: green;
}
form table{
    width: 100%;
}
.right {
    text-align: right;
}
.first_column {
    width: 37%;
    text-align: left;
}
.second_column{
    width: 50%;
    text-align: left;
}
.grade_column {
    width: 13%;
    text-align: left;
}
select, option{
    margin-left: 1rem;
    font-size: 14px;
    background-color: green;
    width: 15.4rem;
}
#separator {
    padding-bottom: 0.2rem;
    background-color: green;
}

#mark {
    float: right;
}
#table {
    margin-top: 5px;
    margin-bottom: 10px;
}

form input[type="submit"] {
    float: right;
    text-decoration: white;
    border-color: green;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.checked-stars {
    color: gold;
}
.unchecked-stars {
    color: darkgrey;
}

#deleteButton{
    color: black;
    background-color: red;
    border-color: red;
}

.message {
    background-color: blue;
    font-weight: bold;
    color: white;
    padding: 0.5rem;
}

.errorMessage{
    background-color: red;
    font-weight: bold;
    color: black;
    padding: 0.5rem;
}
